:root {
    --bg: #3d3d3d;
    --font-light: #fff;
    --font-dark: #000;
    --laser: #db51ee;
    --laser-accent: #361d6d;
    --pak-red: #bb0000;
    --pak-red-accent: #bd2130;
    --column-header: #425f8a;
    --column-bg: #727c8a;
}

body {
    background-color: var(--bg);
}

a {
    color: var(--font-light);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--font-light);
    text-decoration: none;
}

.alpha_wrapper {
    position: relative;
}

.error {
    color: #ff0000;
    visibility: hidden;
}

.nav-logo {
    max-width:100%;
    max-height:100%;
}

.header {
    background-color: var(--bg);
    background-position: 0 8px;
    background-repeat: no-repeat;
    height: 150px;
    padding: 10px 10px 2px;
    position: relative;
}

.header_small {
    background-color: var(--bg);
    background-position: 0 8px;
    background-repeat: no-repeat;
    height: 64px;
    padding: 10px 10px 2px;
    position: relative;
}

.header_menu {
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 200;
}

.btn_logout {
    color: var(--font-light);
    background-color: var(--pak-red);
    border: #bd2130 2px solid;
    border-radius: 2px;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 8px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
    position: absolute;
    left: 104px;
}

.btn_login {
    color: var(--pak-red);
    border: var(--pak-red-accent) 2px solid;
    border-radius: 2px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 8px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

.btn_register {
    color: var(--font-light);
    background-color: var(--pak-red);
    border: #bd2130 2px solid;
    border-radius: 2px;
    display: inline-block;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
    margin-left: 8px;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 90px;
}

#content {
    max-width: 1080px;
    margin: auto;
}

#navbar {
    background-color: var(--pak-red);
    height: 40px;
    width: 1080px;
}

#navbar_left {
    display: inline-block;
    float: left;
}

#navbar_right {
    display: inline-block;
    float: right;
    position: relative;
    text-align: right;
}

#nav {
    list-style: none;
    margin-top: 5px;
    padding: 0;
}

#nav_search_bar {
    display: inline-block;
    padding-right: 7px;
    padding-top: 9px;
}

#search_bar {
    display: inline-block;
    border: 0;
    height: 22px;
    text-indent: 4px;
    width: 286px;
    font-size: 12px;
    vertical-align: top;
}

#search_bar:focus {
    outline: none;
}

#submit_search {
    background-color: #e1e7f5;
    border: #fff 0 solid;
    border-left: #e1e7f5 1px solid;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 26px;
    overflow: hidden;
    margin-left: -5px;
    padding: 0px;
}

#magnifying_glass {
    display:block;
    -webkit-transform: rotate(45deg);
}

.navbar_menu_item {
    color: var(--font-light) !important;
    display: inline;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    padding: 10px 5px 0;
    margin-left: 20px;
    text-align: left;
    text-decoration: none;
}

#backlog {
    cursor: pointer;
}

#game_carousel {
    background-color: #000;
    height: 300px;
}

.carousel-inner {
    height: 290px;
    background-size: cover;
}

.carousel-item {
    height: 290px;
}

#game_one_img, #game_two_img, #game_three_img {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#game_one_title, #game_two_title, #game_three_title {
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000, 2px 2px 0 #000;
}

#banner {
    height: 280px;
}

#banner_bottom {
    height: 240px;
    margin-top: 100px;
    margin-bottom: 0;
}

#banner_img {
    height: 90%;
    width: 100%;
}

#banner_bottom_img {
    height: 100%;
    width: 100%;
}

.panel_body {
    max-width: 1080px;
    margin: auto;
}

#login_box {
    width: 480px;
    display: table;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.label {
    color: var(--font-light);
    margin-bottom: 8px;
}

.label_header {
    color: var(--font-light);
}

.form_item {
    margin-bottom: 16px;
}

#register_username, #register_password, #login_username, #login_password {
    border: var(--laser) 4px solid;
    border-radius: 8px;
    display: block;
    height: 42px;
    width: 100%;
    padding-left: 8px;
}

#register_username:focus, #register_password:focus, #login_username:focus, #login_password:focus {
    outline: none;
}

.submit_btn {
    background-color: var(--laser);
    color: var(--font-light);
    height: 42px;
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    border-radius: 12px;
    border: var(--laser-accent) 3px solid;
}

#welcome_label {
    color: var(--font-light);
    margin-bottom: 20px;
}

.columns {
    margin-top: 18px;
}

.column_header {
    background-color: var(--column-header);
    background-image: url("img/laser_banner.png");
    background-size: cover;
    color: var(--font-light);
}

#recent_reviews_column {
    float: left;
    width: 49%;
    margin-right: 1%;
}

#friends_column {
    float: left;
    width: 49%;
    margin-left: 1%;
}

.review_item {
    background-color: var(--column-bg);
    color: var(--font-light);
    border: outset;
    border-color: var(--column-bg);
    padding-left: 5px;
}

.friend_item {
    background-color: var(--column-bg);
    color: var(--font-light);
    border: outset;
    border-color: var(--column-bg);
    padding-left: 5px;
}

.review_entry > p, .friend_entry > p {
    margin-bottom: 0.5rem;
}

#game_background {
    background-size: cover;
    width: 1080px;
    height: 720px;
    opacity: 0.2;
}

#game_title {
    color: var(--font-light);
}

#game_details {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20px;
    left: 20px;
}

#game_cover {
    width: 240px;
    height: 320px;
    margin: 10px;
}

#game_review_btn {
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    margin: 20px;
    margin-top: 4px;
    margin-left: 0;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
}

#game_screenshots {
    width: 1080px;
    position: absolute;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
    top: 420px;
    left: 0;
}

.game_screenshot {
    width: 200px;
}

.details {
    color: var(--font-light);
    padding-right: 24px;
}

#games_list {
    width: 1080px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;
}

.game_item {
    background-color: var(--column-bg);
    padding: 10px;
    border-style: solid;
}

.game_covers {
    width: 180px;
    height: 100px;
}

.game_title {
    color: var(--font-light);
}

#nav_button_holder {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.nav_buttons {
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
    margin: 20px;
    margin-top: 4px;
    margin-left: 0;
    background-color: transparent;
    color: white;
    border-color: white;
    border-style: solid;
}

#users_list {
    margin-top: 24px;
}

.user_item {
    width: 1080px;
    height: 120px;
    background-color: var(--column-bg);
    padding: 10px;
    border-style: inset;
    display: block;
}

#reviews_list {
    width: 1080px;
}

.review_item {
    background-color: var(--column-bg);
    padding: 10px;
    border-style: inset;
    display: block;
}

.review_rating {

}

.review_body {
    word-break: break-word;
}

#header_username, #header_review {
    width: 1080px;
    height: 48px;
    background-color: var(--column-header);
    color: var(--font-light);
}

#header_username > h1, #header_review > h1 {
    position: absolute;
    padding-left: 8px;
}

#header_options {
    width: 1080px;
    height: 48px;
    background-color: var(--column-bg);
    color: var(--font-light);
}

#header_options > h5 {
    padding-left: 8px;
    padding-top: 8px;
}

h5 > a {
    cursor: pointer;
}

#review_container {
    width: 1080px;
}